*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px black;
}
.home-img img {
    height: 50%;
    justify-content: center;
    width: 40%;
}
section{
    display: flex;
    width: 100%;
    background: linear-gradient(rgb(228, 227, 227),rgb(119, 118, 118));
    height: 100%;
    flex-wrap: nowrap;
  background-color: #fff;
}
section .imgBx{
   display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 2;
    flex-wrap: nowrap;
    height: 100%;
      
       height: 550px;
}
section .imgBx img{
    position: relative;
    border-radius: 50px;
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
    top: 0;
    left: 0;
    width: 70%;
    height: 80%;
    object-fit: fill;
    }
    section .contentBx {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 650px;
        /* background-color: #ffffff; */
        
    }
    section .contentBx .formBx{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
    }
    section .contentBx .formBx h2{
        color: #607d8b;
        font-weight: 600;
        font-size: 1.5em;
        text-transform: uppercase;
        margin-bottom: 20px;
        border-bottom: 4px solid #ff4584;
        display: inline-block;
        letter-spacing: 1px;
        
    }
    section .contentBx .formBx .inputBx{
        margin-bottom: 20px;
    }
    section .contentBx .formBx .inputBx span{
        font-size: 16px;
        margin-bottom: 5px;
        display: inline-block;
        color: #3b568d;
        font-weight: 300;
        letter-spacing: 1px;
    }
    section .contentBx .formBx .inputBx input{
        width: 100%;
        padding: 10px 20px;
        outline: none;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid #607db8;
        letter-spacing: 1px;
        color: #3b568d;
        background: transparent;
        border-radius: 30px;
    }
    
    section .contentBx .formBx .inputBx textarea{
        width: 100%;
        padding: 10px 20px;
        outline: none;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid #607db8;
        letter-spacing: 1px;
        color: #3b568d;
        background: transparent;
        border-radius: 30px;
    }
    
    section .contentBx .formBx .inputBx select{
        width: 100%;
        padding: 10px 20px;
        outline: none;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid #607db8;
        letter-spacing: 1px;
        color: #3b568d;
        background: transparent;
        border-radius: 30px;
    }
    section .contentBx .formBx .inputBx input[type="button"]{
        background: #ff4584;
        color: #fff;
        outline: none;
        border: none;
        cursor: pointer;

    }
    section .contentBx .formBx .inputBx  input[type="submit"]:hover{
        background:#f53677 ;
    }
    section .contentBx .formBx .remember{
        margin-bottom: 10px;
        color: #3a5966;
        font-size: 400;
        font-size: 16px;
    }
    section .contentBx .formBx p{
        color: #3c4f59;
    }
    section .contentBx .formBx p a{
        color: #5d2c3c;
    }
    @media(max-width:900px){
        .head .home-img img{
            display: none;
        }
        section .imgBx{
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 700px;
            
        }
        section .imgBx img{
            width: 100%;
            margin-top: 4%;
            height: 100%;
            border-radius: 0;
        }
        section .contentBx{
            width: 90%;
            display: flex;
            height: 600px;
            z-index: 1;
            margin: 5%;
            background-color: #fff;
            border-radius: 10px;
        }
        
        section .contentBx .formBx{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
            /* background: rgb(255, 255, 255/0.9); */
            margin: 5px;
            
        }
    }
    
    @media(max-width:500px){
        .head .home-img img{
            display: none;
        }
        section .imgBx{
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
            
        }
        section .imgBx img{
            border-radius: 0;
        }
        section .contentBx{
            width: 100%;
            height: 100%;
            z-index: 1;
            margin: 8%;
            background-color: #fff;
           border-radius: 0;
        }

        section .contentBx .formBx{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;
            margin: 5px;
        }
    }
    section .contentBx .formBx h3{
       color: #43498b;
       margin-bottom: 10%; 
    }
    section .contentBx .formBx i {
display: inline-block;
height: 40px;
width: 40px;
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
color: #ff4584;
border-radius: 50%;
background-color: #000000;
}

section .contentBx .formBx i:hover {
color: rgb(0, 0, 0);
background-color: #ff4584;
}
@media screen and (m-width:900px) {
section{
    overflow-x: hidden;
}
body{
    overflow-y: hidden;
}
}